{# templates/image/form.html.twig #}

<form action="{{ path('fetch_images') }}" method="post">
    <input type="text" name="url" placeholder="Введите URL">
    <button type="submit">Go</button>
</form>