{# templates/image/result.html.twig #}

<div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px;">
    {% for image in images %}
        <img src="{{ image }}" width="100%" alt="Image" />
    {% endfor %}
</div>
<p>Найдено изображений: {{ count }}</p>
<p>Суммарный размер изображений: {{ totalSize }} Мб</p>